{% extends "frontend/partials/layout.njk" %}
{% block body %}
    <div class="col-lg-12 col-md-12">
        <div class="inner_content">
            <div class="row">
                <div class="col-md-6">
                    <div class="p-rel">
                        <h2 class="page-title">Change Password</h2>
                    </div>
                    <form class="form-horizontal" id="changePasswordFrm" action="{{config.baseUrl}}profile/password/save" method="POST">
                        <div class="inputstyle-1">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                    	<input type="hidden" name="user_id" value="{{detail.id}}">
                                        <input id="new_password" class="input-focus input-ani" type="password" placeholder="New Password" name="new_password" value="">
                                        <span>New Password</span>
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        <input id="confirm_password" class="input-focus input-ani" type="password" placeholder="Confirm Password" name="confirm_password" value="">
                                        <span>Confirm Password</span>
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class=" text-center">
                                <button type="submit" class="btn-blue text-uppercase login-btn col-md-2">Save</button>
                                <a href="{{config.baseUrl}}" class="btn-blue-brder text-uppercase login-btn col-md-2 col-md-offset-1">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}
{% block script %}
<script type="text/javascript" src="{{config.baseUrl}}frontend/script/validation/changepassword.js"></script>
<script type="text/javascript" src="{{config.baseUrl}}frontend/script/cryptoCurrency.js"></script>
{% endblock %}