{% extends "frontend/partials/layout.njk" %}

{% block body %}
<div class="login-box">
    <div class="login-logo">
        <a href="/"><b>{{title}}</a>
    </div>

    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Set new password</p>
        <form id="update-password" action="/userlogin/updateNewpassword" onsubmit="return validate()" method="post">
            <input type="hidden" name="token" value="{{token}}">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" id="password" placeholder="password" name="password" required>
               <!--  <span class="glyphicon glyphicon-envelope form-control-feedback"></span> -->
            </div>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="confirm password" id="c_password" name="c_password" required equalTo="#password">
               <!--  <span class="glyphicon glyphicon-envelope form-control-feedback"></span> -->
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Update</button>
                </div>
                <div class="col-xs-3">
                    <a href="/" class="btn btn-danger btn-block btn-flat">Back</a>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- /.social-auth-links -->

    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
{% endblock %}

{% block script %}
<script src="{{ config.baseUrl }}frontend/js/jquery.validate.min.js"></script>
<script src="{{ config.baseUrl }}frontend/js/additional-methods.min.js"></script>
<script type="text/javascript">
 window.validate = ()=>{
    if($('#update-password').valid()){
        return true;
    } 
    return false
}
</script>
{% endblock %}