<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/bootstrap.min.css">
<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/AdminLTE.min.css">
<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/all-skins.min.css">
<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/dist/main.css">
<!-- <link rel="stylesheet" type="text/css" href="{{config.baseUrl}}frontend/css/dist/darkmode.css"> -->
<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/font-awesome.min.css">
<link rel="stylesheet" href="{{config.baseUrl}}frontend/css/toastr.min.css">