<footer class="main-footer">
    <div class="row">
        <div class="col-sm-4">
            <p>Copyright@2021, BitRoul.com all rights reserved</p>
        </div>
        <div class="col-sm-6">
            <ul class="foo-link">

                <li>
                    <a href="{{config.baseUrl}}about-us">About Us</a>
                </li>
                <li>
                    <a href="{{config.baseUrl}}term-and-condition">Terms &amp; Conditions</a>
                </li>
                <!-- <li>
                    <a href="{{config.baseUrl}}help">Help</a>
                </li> -->
                <li>
                    <a href="{{config.baseUrl}}faq-page">FAQ</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-2 social_icon">
            <ul class="foo-social">
                <li>
                    <a href="#">
                        <i class="fa fa-steam"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-facebook-square "></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>