<script type="text/javascript" src="{{config.baseUrl}}frontend/js/jquery-latest.js"></script>
<script type="text/javascript" src="{{config.baseUrl}}frontend/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{config.baseUrl}}frontend/js/adminlte.min.js"></script>
<script type="text/javascript" src="{{config.baseUrl}}frontend/js/moment.min.js"></script>
<script type="text/javascript" src="{{config.baseUrl}}frontend/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="{{config.baseUrl}}frontend/js/toastr.min.js"></script>
<script type="text/javascript" src="{{config.baseUrl}}frontend/js/socket.io.js"></script>